.pie_chart
  .container-fluid
    .col-md-5
      .h2 Category Breakdown
      %br
      .cat-data-text
        .h4 Where you've spent the most
        Category:
        %span= @list.most_spent_by_category[:category]
        %br
        Number of expenses:
        %span= @list.most_spent_by_category[:category_count]
        %br
        Total amount:
        %span= number_to_currency @list.most_spent_by_category[:amount]
        - if @list.total_individual_categories_count > 1
          %hr
          .h4 Where you've spent the least
          Category:
          %span= @list.lowest_spent_by_category[:category]
          %br
          Number of expenses:
          %span= @list.lowest_spent_by_category[:category_count]
          %br
          Total amount:
          %span= number_to_currency @list.lowest_spent_by_category[:amount]
    .col-md-7
      %br
      = category_pie_chart
      .pie-chart-text
        *Percentages are based on categories not the amount of expenses
        .br
        or expense total per category.