#analytics
  .container
    .span8.well
      %ul.nav.nav-tabs
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "expenses", "data-toggle" => "tab", :href => "#expenses", :role => "tab"} Expenses
        %li
          %a{"aria-controls" => "categories", "data-toggle" => "tab", :href => "#categories", :role => "tab"} Categories
        %li.dropdown.pull-right
          %button.btn.btn-danger.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %span.caret
          %ul.dropdown-menu
            - if @list.expenses.map(&:expense_date).min <= 7.days.ago
              %li= link_to "1 Week", analytics_list_path(@list, days_ago: 7)
            - if @list.expenses.map(&:expense_date).min <= 14.days.ago
              %li= link_to "2 Weeks", analytics_list_path(@list, days_ago: 14)
            - if @list.expenses.map(&:expense_date).min <= 30.days.ago
              %li= link_to "1 Month", analytics_list_path(@list, days_ago: 30)
            - if @list.expenses.map(&:expense_date).min <= 90.days.ago
              %li= link_to "3 Months", analytics_list_path(@list, days_ago: 90)
            - if @list.expenses.map(&:expense_date).min <= 180.days.ago
              %li= link_to "6 Months", analytics_list_path(@list, days_ago: 180)
            %li= link_to "Since First Expense", analytics_list_path(@list, days_ago: (Date.current - @list.expenses.map(&:expense_date).min.to_date).to_i)
      .tab-content
        #expenses.tab-pane.active{:role => "tabpanel"}
          = render "line_chart"
        #categories.tab-pane{:role => "tabpanel"}
          = render "pie_chart"
  = link_to 'Back', :back