#list-expenses
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = @list.title
        .add-expense.pull-right
          = link_to new_list_expense_path(@list) do
            %span.glyphicon.glyphicon-plus
    .panel-body
      .panel.panel-default
        .table-responsive
          %table.table.table-bordered
            %tr
              %th= sort_link @search, :expense_date, 'Date'
              - if Feature.active?(:invite_user)
                %th= sort_link @search, :user_display_name, 'Person'
              %th= sort_link @search, :category_id
              %th  Expense
              %th= sort_link @search, :amount
              %th  Description
              - if list_creator || read_and_write_access?(@list)
                %th  Edit/Delete
            - @expenses.each do |expense|
              %tr
                %td= expense.expense_date.strftime("%B %d, %Y")
                - if Feature.active?(:invite_user)
                  %td= expense.user.display_name
                -if expense.category
                  %td= expense.category.name
                -else
                  %td= 'Other'
                -if expense.sub_category && expense.category.id != 15
                  %td= expense.sub_category.name
                -else
                  %td= expense.name
                %td= number_to_currency expense.amount
                %td= expense.description.present? ? (auto_link expense.description) : 'N/A'
                - if list_creator || read_and_write_access?(@list)
                  %td
                    = link_to 'Edit', edit_list_expense_path(@list, expense)
                    |
                    = link_to 'Delete', list_expense_path(@list, expense), method: :delete, data: {confirm: "Are you sure?"}
      .well.well-sm
        .budget_remaining
          - if @list.has_budget?
            - if @list.remaining_budget >= 0
              = "Remaining: #{number_to_currency @list.remaining_budget}"
            - elsif @list.remaining_budget < 0
              %span= "Over Budget: #{number_to_currency @list.remaining_budget}"
        .total
          = show_proper_total
          .pull-right
            %span.glyphicon.glyphicon-stats
            = link_to 'Analytics', analytics_list_path(@list)
      = will_paginate @expenses
      - if list_creator || read_and_write_access?(@list)
        = link_to 'Log Expense', new_list_expense_path(@list), class: 'btn btn-primary pull-right'