.navbar.navbar-default.navbar-static-top
  .container
    - if user_signed_in?
      = link_to 'Expense Pro', expenses_path, class: "navbar-brand"
    -else
      = link_to 'Expense Pro', root_path, class: "navbar-brand"
    %ul.nav.pull-right
      - if user_signed_in?
        %li.dropdown.pull-right
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => "color:#777; margin-top: 5px;"}
            %span.glyphicon.glyphicon-user
            %b.caret
          %ul.dropdown-menu
            .dropdown-header= "#{current_user.display_name}"
            %li= link_to "Edit Account", edit_user_registration_path
            %li= link_to "Send Invite", new_user_invitation_path
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            .dropdown-header Monthly Bills
            %li= link_to "Add a Bill", new_monthly_bill_path
            %li= link_to "View Monthly Bills", monthly_bills_path
            .dropdown-header Expenses
            %li= link_to "Add an Expense", new_expense_path
            %li= link_to "View Expenses", expenses_path