.navbar.navbar-default.navbar-static-top
  .container
    - if user_signed_in?
      = link_to 'Expense Pro', lists_path, class: "navbar-brand"
    -else
      = link_to 'Expense Pro', root_path, class: "navbar-brand"
    %ul.nav.pull-right
      - if user_signed_in? && mobile_device?
        %li.dropdown.pull-right
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => "color:#777; margin-top: 5px;"}
            %span.glyphicon.glyphicon-user
            %b.caret
          %ul.dropdown-menu
            .dropdown-header Monthly Bills
            %li= link_to "Add a Bill", new_monthly_bill_path
            %li= link_to "View Monthly Bills", monthly_bills_path
            .dropdown-header Expense Lists
            %li= link_to "Add a New List", new_list_path
            %li= link_to "My Lists", lists_path
            %li= link_to "Shared Lists", shared_path
            .dropdown-header= "#{current_user.display_name}"
            %li= link_to "Edit Account", edit_user_registration_path
            - if Feature.active?(:invite_user, current_user)
              %li= link_to "Send Invite", new_user_invitation_path
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - elsif user_signed_in?
        .btn-group
          %button.btn.btn-danger.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Expense Lists
          %ul.dropdown-menu
            %li= link_to "Add a New List", new_list_path
            %li= link_to "My Lists", lists_path
            %li= link_to "Shared Lists", shared_path
        .btn-group
          %button.btn.btn-danger.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Monthly Bills
          %ul.dropdown-menu
            %li= link_to "Add a Bill", new_monthly_bill_path
            %li= link_to "View Monthly Bills", monthly_bills_path
        .btn-group
          %button.btn.btn-danger.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = "#{current_user.display_name}"
          %ul.dropdown-menu
            %li= link_to "Edit Account", edit_user_registration_path
            - if Feature.active?(:invite_user, current_user)
              %li= link_to "Send Invite", new_user_invitation_path
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
