#list-permissions
  - if !@invited_users.present?
    %h4= "If you would like to give someone access to #{@list.title} click the invite link below."
    = link_to 'Back to list', @list
    |
    = link_to "Send Invitation", new_user_invitation_path
  - elsif list_has_users_without_permissions(@list, @invited_users)
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = "Grant Permissions for #{@list.title}"
      .panel-body
        .panel.panel-default
          .table-responsive
            %table.table.table-bordered
              %tr
                %th Name
                %th Invitation accepted on
                %th Read only
                %th Read & write
                %th Grant permissions
              - @invited_users.each do |user|
                - if permissions_have_not_been_granted_to_user(@list, user)
                  = form_for [@list, @list_permission], validate: true do |f|
                    %tr
                      %td= "#{user.first_name} #{user.last_name}"
                      %td= user.invitation_accepted_at.strftime("%b %d, %Y")
                      %td= f.check_box :read_access, required: false, label: false, as: :boolean
                      %td= f.check_box :read_and_write_access, required: false, label: false, as: :boolean
                      = hidden_field_tag :invited_user_id , user.id
                      %td= f.submit 'Submit', class: "btn btn-link"
  - if @list.has_permissions?
    = render 'permissions_granted'
  - if @invited_users.present?
    = link_to 'Back to list', @list, class: "btn btn-primary"

