-if @monthly_bills.empty?
  %h4 No bills to display.
  = link_to 'Add a Bill', new_monthly_bill_path
-else
  %h2 Monthly Bills
  -#.col-md-1-pull-right
  -#= button_tag 'Search', id: 'search-button', class: 'btn btn-default' do
  -#  %span.glyphicon.glyphicon-search
  -#= render 'search'
  .panel.panel-default
    .table-responsive
      %table.table.table-bordered
        %tr
          -#%th= sort_link @search, :person, 'Person'
          %th= sort_link @search, :due_date, 'Due Date'
          %th  Bill
          %th= sort_link @search, :amount
          %th  Remove
        - @monthly_bills.each do |t|
          %tr
            -#%td= t.person
            %td= t.due_date.day.ordinalize
            %td= t.name
            %td= number_to_currency t.amount
            %td= link_to 'Delete', t, method: :delete, data: {confirm: "Are you sure?"}
  .well.well-sm
    .total
      = "Total: #{number_to_currency MonthlyBill.all.sum(:amount)}"
  = will_paginate @monthly_bills
  = link_to 'Add a Bill', new_monthly_bill_path, class: 'btn btn-primary pull-right'