.panel-body
  = form_for [@list, @expense], validate: true do |f|
    = f.label :category_id, 'Select a category'
    = f.collection_select :category_id, Category.order(:name), :id, :name, {}, {required: 'true', class: "form-control"}
    = f.label :sub_category_id, 'Expense'
    = f.grouped_collection_select :sub_category_id, Category.order(:name), :sub_categories, :name, :id, :name, {}, {class: "form-control"}
    = f.label :name, 'Expense'
    = f.text_field :name, class: "form-control", placeholder: 'What did you buy?'
    = f.label :amount
    = f.number_field :amount, class: "form-control", step: 'any'
    = f.label :description
    = f.text_area :description, class: "form-control"
    %br
    = f.submit 'Submit', class: 'btn btn-primary pull-right'
  = link_to "Expense not for today's date? Click here", past_dated_list_expenses_path
  .br
  = link_to "Back to list", list_path(@list)