#search-form
  = search_form_for @search do |f|
    #search-bar
      .container
        .row
          .panel.panel-default
            .panel-body
              .col-md-2
                = f.search_field :expense_date_date_equals, class: 'form-control', placeholder: 'Date (mm/dd/yyyy)'
              .col-md-2
                = f.text_field :user_display_name_cont, class: 'form-control', placeholder: 'Person'
              .col-md-3
                = f.text_field :category_name_or_sub_category_name_or_name_cont, class: 'form-control', placeholder: 'Category or Expense'
              .col-md-3
                = f.text_field :amount_gteq, class: 'form-control', placeholder: 'Amount (greater than)'
              .col-md-2
                = f.submit 'Search', id: 'search-submit', class: 'form-control btn-info'