-if @expenses.empty?
  %h4 Opps! Looks like We could not find any results that matched your criteria or you have not logged any expenses.
  = link_to 'Back', :back
  |
  = link_to 'Log Expense', new_list_expense_path
-else
  - if Feature.active?(:search)
    .col-md-1-pull-right
    = button_tag 'Search', id: 'search-button', class: 'btn btn-default' do
      %span.glyphicon.glyphicon-search
    = render 'shared/expense_search'
    = render 'shared/expenses'